

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local('Rubik Medium'), local('Rubik-Medium'), url(https://fonts.gstatic.com/s/rubik/v9/iJWHBXyIfDnIV7Eyjmmd8WD07oB-.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
$base-font-family: 'Rubik', sans-serif;

html {
  font-family: $base-font-family;
  color: #000000;
  background: #ffffff;
}
// New Topic Button
// *------------------------------------------------*
#create-topic {
  color: #000000;
  background: #a0e7a0;
  border-radius: 4px;
  .fa {
    color: #000000;
  }
  &:hover {
    background: #f2b6ae;
    color: #000000;
    border-radius: 4px;
    .fa {
      color: #000000;
    }
  }
}

.open .grippie {
  background: inear-gradient(82deg, rgba(242,182,174,1) 0%, rgba(255,218,193,1) 13%, rgba(247,243,205,1) 27%, rgba(180,241,179,1) 44%, rgba(166,213,253,1) 63%, rgba(153,168,209,1) 78%, rgba(188,176,238,1) 92%);;
}

// User Card Avatars
// *------------------------------------------------*
.user-card-avatar img.avatar {
  background-image: inear-gradient(82deg, rgba(242,182,174,1) 0%, rgba(255,218,193,1) 13%, rgba(247,243,205,1) 27%, rgba(180,241,179,1) 44%, rgba(166,213,253,1) 63%, rgba(153,168,209,1) 78%, rgba(188,176,238,1) 92%);;
  border: 4px solid transparent;
}

// Advanced Search
// *------------------------------------------------*
.search-container .search-advanced-sidebar {
  .search-advanced-title {
    background: inear-gradient(82deg, rgba(242,182,174,1) 0%, rgba(255,218,193,1) 13%, rgba(247,243,205,1) 27%, rgba(180,241,179,1) 44%, rgba(166,213,253,1) 63%, rgba(153,168,209,1) 78%, rgba(188,176,238,1) 92%);;
    border-radius: 10px 10px 0 0;
  }
  .search-advanced-filters {
    border-radius: 0 0 10px 10px;
  }
}

// Admin
// *------------------------------------------------*
.admin-controls {
  .nav-pills>li a.active {
    background: none;
  }

}

// Header
// *------------------------------------------------*
.d-header {
//  background-color: #E9E2BE;
  background-image: inear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
  height: 5em;
}

.d-header {
    box-shadow: none;
    background-color: #E9E2BE;
    height: 70px;
}

.d-header-icons {
    .d-icon {
        font-size: 1.45rem;
    }
}

.d-header-icons .icon:hover, .d-header-icons .icon:focus {
    background-color: #FAFFFD;
}

.d-header-icons .icon:hover .d-icon, .d-header-icons .icon:focus .d-icon {
    color: #e8bc6b;
}

.drop-down-mode .d-header-icons .active .icon .d-icon {
    color: #E9E2BE;
}

.drop-down-mode .d-header-icons .active .icon {
    background-color: #e8bc6b;
    border-radius: 2px;
   // border: 0;  
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent; 
}

.drop-down-mode .d-header-icons .active .icon:after {
    border-top: 1px solid transparent;
}

//header icon hover
.d-header-icons .icon:hover, .d-header-icons .icon:focus {
    background-color: #e8bc6b;   
    border-radius: 2px;
}

.d-header-icons .icon:hover .d-icon, .d-header-icons .icon:focus .d-icon {
    color: #E9E2BE;
}

//header icon unread notification
.d-header-icons .unread-notifications {
    background-color: #E6DED0;
}

//dropdown header menu

.menu-panel.drop-down {
    margin-top: 6px;
}

.menu-panel {
    border: 0;
    background-color: #FAFFFD;
    border-radius: 2px;

    hr {
        border-color: #e8bc6b;
    }
}

.menu-panel .badge-notification {
    color: #000000;
    background-color: #E9E2BE;
}


.menu-panel li a.widget-link:hover, .menu-panel li a.widget-link:focus, .menu-panel li.heading a.widget-link:hover, .menu-panel li.heading a.widget-link:focus {
    background-color: #E9E2BE;
    border-radius: 2px;
}


//header search menu  input
.search-menu input[type="text"] {
    border-radius: 2px;
    color: #e8bc6b;
  
    &::placeholder {
      color: #e8bc6b;
    }
  
    &::-ms-input-placeholder {
      color: #e8bc6b;
    }
  
    &::-ms-input-placeholder {
      color: #e8bc6b;
    }
  
}
  